<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/sigmar.css')}}">

		<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.ui.touch-punch.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/html2canvas.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/sigmar.js')}}"></script>
		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<div id="main">
			<div class="nightvault-background">
				<div class="sub-div">
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
				</div>
				<div class="sub-div">
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
					<div class="droppable small-image"></div>
				</div>
				<div class="align-bottom">
					Screenshot name:&nbsp;<input type="text" class="text-field" id="screenshot-name">
					<button class="card-button" onclick="screenshot();">Take screenshot</button>
					<button class="card-button" onclick="clearAllCards();">Clear deck</button>
				</div>
			</div>
			<div class="align-right">
				<div>
					<input type="text" oninput="cardSearch();" class="text-field" id="card_search">
					<button id="search" class="card-button" onclick="cardSearch();">search</button>
					<button class="card-button" onclick="clearCardSearch();">clear</button>
				</div>
				<div id="card-list">
					{% include 'card-list.html' %}
				</div>
			</div>
		</div>
	</body>
</html>
